<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- FAVICON --}}
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
  {{!-- FONT AWESOME 5 --}}
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f" crossorigin="anonymous"></script>
  {{!-- CSS STYLESHEET --}}
  <link rel="stylesheet" href="/public/assets/css/style.css">
  <title>Tech Blog</title>
</head>
<body>
    {{{body}}}
    <script src="/public/assets/js/app.js"></script>
</body>
</html>
